:host {
    display: block;
    width: 100%;
}

.title {
    color: var(--select-language-buttons-title-color);
    font-size: 20px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--select-language-button-button-background-color);
    border: none;
    border-radius: 0px;
    color: var(--select-language-button-button-foreground-color);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

button:not([data-selected]) {
    cursor: pointer;
}

button:not([data-selected]):hover,
button:not([data-selected]):active {
    background-color: var(--select-language-buttons-active-button-background-color);
    color: var(--select-language-buttons-active-button-foreground-color);
}

button[data-selected] {
    background-color: var(--select-language-buttons-selected-button-background-color);
    color: var(--select-language-buttons-selected-button-foreground-color);
}
